{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/jxandery/repos","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["58"], "X-Ratelimit-Reset":["1437717388"], "Etag":["W/\"047b4f80d175cba856c09216ba80fb77\""], "X-Github-Media-Type":["github.v3"], "Link":["\u003chttps://api.github.com/user/1368779/repos?page=2\u003e; rel=\"next\", \u003chttps://api.github.com/user/1368779/repos?page=3\u003e; rel=\"last\""]},"body":{"encoding":"UTF-8","string":"[{\"id\":37547269,\"name\":\".dotfiles\",\"full_name\":\"jxandery/.dotfiles\",\"owner\":{\"login\":\"jxandery\",\"id\":1368779,\"avatar_url\":\"https://avatars.githubusercontent.com/u/1368779?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jxandery\",\"html_url\":\"https://github.com/jxandery\",\"followers_url\":\"https://api.github.com/users/jxandery/followers\",\"following_url\":\"https://api.github.com/users/jxandery/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jxandery/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jxandery/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jxandery/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jxandery/orgs\",\"repos_url\":\"https://api.github.com/users/jxandery/repos\",\"events_url\":\"https://api.github.com/users/jxandery/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jxandery/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/jxandery/.dotfiles\",\"description\":\"\",\"fork\":false,\"url\":\"https://api.github.com/repos/jxandery/.dotfiles\",\"forks_url\":\"https://api.github.com/repos/jxandery/.dotfiles/forks\",\"keys_url\":\"https://api.github.com/repos/jxandery/.dotfiles/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/jxandery/.dotfiles/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/jxandery/.dotfiles/teams\",\"hooks_url\":\"https://api.github.com/repos/jxandery/.dotfiles/hooks\",\"issue_events_url\":\"https://api.github.com/repos/jxandery/.dotfiles/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/jxandery/.dotfiles/events\",\"assignees_url\":\"https://api.github.com/repos/jxandery/.dotfiles/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/jxandery/.dotfiles/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/jxandery/.dotfiles/tags\",\"blobs_url\":\"https://api.github.com/repos/jxandery/.dotfiles/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/jxandery/.dotfiles/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/jxandery/.dotfiles/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/jxandery/.dotfiles/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/jxandery/.dotfiles/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/jxandery/.dotfiles/languages\",\"stargazers_url\":\"https://api.github.com/repos/jxandery/.dotfiles/stargazers\",\"contributors_url\":\"https://api.github.com/repos/jxandery/.dotfiles/contributors\",\"subscribers_url\":\"https://api.github.com/repos/jxandery/.dotfiles/subscribers\",\"subscription_url\":\"https://api.github.com/repos/jxandery/.dotfiles/subscription\",\"commits_url\":\"https://api.github.com/repos/jxandery/.dotfiles/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/jxandery/.dotfiles/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/jxandery/.dotfiles/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/jxandery/.dotfiles/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/jxandery/.dotfiles/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/jxandery/.dotfiles/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/jxandery/.dotfiles/merges\",\"archive_url\":\"https://api.github.com/repos/jxandery/.dotfiles/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/jxandery/.dotfiles/downloads\",\"issues_url\":\"https://api.github.com/repos/jxandery/.dotfiles/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/jxandery/.dotfiles/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/jxandery/.dotfiles/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/jxandery/.dotfiles/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/jxandery/.dotfiles/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/jxandery/.dotfiles/releases{/id}\",\"created_at\":\"2015-06-16T18:07:09Z\",\"updated_at\":\"2015-06-16T18:19:07Z\",\"pushed_at\":\"2015-06-16T18:34:10Z\",\"git_url\":\"git://github.com/jxandery/.dotfiles.git\",\"ssh_url\":\"git@github.com:jxandery/.dotfiles.git\",\"clone_url\":\"https://github.com/jxandery/.dotfiles.git\",\"svn_url\":\"https://github.com/jxandery/.dotfiles\",\"homepage\":null,\"size\":120,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"VimL\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"},{\"id\":28199706,\"name\":\"1412-intro-git\",\"full_name\":\"jxandery/1412-intro-git\",\"owner\":{\"login\":\"jxandery\",\"id\":1368779,\"avatar_url\":\"https://avatars.githubusercontent.com/u/1368779?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jxandery\",\"html_url\":\"https://github.com/jxandery\",\"followers_url\":\"https://api.github.com/users/jxandery/followers\",\"following_url\":\"https://api.github.com/users/jxandery/following{/other_user}\",\"gists_url\[...]
