{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/jxandery/starred","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["56"], "X-Ratelimit-Reset":["1437951775"], "Etag":["W/\"abf8f0b95277b99c0b8c77408025a86a\""], "X-Github-Media-Type":["github.v3"]},"body":{"encoding":"UTF-8","string":"[{\"id\":32155651,\"name\":\"links\",\"full_name\":\"turingschool/links\",\"owner\":{\"login\":\"turingschool\",\"id\":7934292,\"avatar_url\":\"https://avatars.githubusercontent.com/u/7934292?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/turingschool\",\"html_url\":\"https://github.com/turingschool\",\"followers_url\":\"https://api.github.com/users/turingschool/followers\",\"following_url\":\"https://api.github.com/users/turingschool/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/turingschool/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/turingschool/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/turingschool/subscriptions\",\"organizations_url\":\"https://api.github.com/users/turingschool/orgs\",\"repos_url\":\"https://api.github.com/users/turingschool/repos\",\"events_url\":\"https://api.github.com/users/turingschool/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/turingschool/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/turingschool/links\",\"description\":\"Important links for the Turing community\",\"fork\":false,\"url\":\"https://api.github.com/repos/turingschool/links\",\"forks_url\":\"https://api.github.com/repos/turingschool/links/forks\",\"keys_url\":\"https://api.github.com/repos/turingschool/links/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/turingschool/links/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/turingschool/links/teams\",\"hooks_url\":\"https://api.github.com/repos/turingschool/links/hooks\",\"issue_events_url\":\"https://api.github.com/repos/turingschool/links/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/turingschool/links/events\",\"assignees_url\":\"https://api.github.com/repos/turingschool/links/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/turingschool/links/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/turingschool/links/tags\",\"blobs_url\":\"https://api.github.com/repos/turingschool/links/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/turingschool/links/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/turingschool/links/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/turingschool/links/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/turingschool/links/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/turingschool/links/languages\",\"stargazers_url\":\"https://api.github.com/repos/turingschool/links/stargazers\",\"contributors_url\":\"https://api.github.com/repos/turingschool/links/contributors\",\"subscribers_url\":\"https://api.github.com/repos/turingschool/links/subscribers\",\"subscription_url\":\"https://api.github.com/repos/turingschool/links/subscription\",\"commits_url\":\"https://api.github.com/repos/turingschool/links/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/turingschool/links/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/turingschool/links/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/turingschool/links/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/turingschool/links/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/turingschool/links/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/turingschool/links/merges\",\"archive_url\":\"https://api.github.com/repos/turingschool/links/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/turingschool/links/downloads\",\"issues_url\":\"https://api.github.com/repos/turingschool/links/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/turingschool/links/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/turingschool/links/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/turingschool/links/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/turingschool/links/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/turingschool/links/releases{/id}\",\"created_at\":\"2015-03-13T12:52:34Z\",\"updated_at\":\"2015-06-16T00:23:46Z\",\"pushed_at\":\"2015-07-14T21:15:37Z\",\"git_url\":\"git://github.com/turingschool/links.git\",\"ssh_url\":\"git@github.com:turingschool/links.git\",\"clone_url\":\"https://github.com/turingschool/links.git\",\"svn_url\":\"https://github.com/turingschool/links\",\"homepage\":null,\"size\":132,\"stargazers_count\":9,\"watchers_count\":9,\"language\":null,\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":2,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":2,\"open_issues\":0,\"watchers\":9,\"default_branch\":\"master\"},{\"id\":3243855,\"name\":\"Learning-Python\",\"full_name\":\"jxandery/Learning-Python\",\"owner\":{\"login\":\"jxandery\",\"id\":1368779,\"avatar_url\":\"https://avatars.githubusercontent.com/u/1368779?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jxandery\",\"html_url\":\"https://github.com/jxandery\",\"followers_url\":\"https://api.github.com/users/jxandery/followers\",\"following_url\":\"https://api.github.com/users/jxandery/following{/other_user}\",\"gists_url[...]
