{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/jxandery","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["57"], "X-Ratelimit-Reset":["1437955522"], "Last-Modified":["Thu, 23 Jul 2015 01:10:24 GMT"], "Etag":["W/\"31899419806e53a61f217d87017f178b\""], "X-Github-Media-Type":["github.v3"]},"body":{"encoding":"US-ASCII","string":"{\"login\":\"jxandery\",\"id\":1368779,\"avatar_url\":\"https://avatars.githubusercontent.com/u/1368779?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jxandery\",\"html_url\":\"https://github.com/jxandery\",\"followers_url\":\"https://api.github.com/users/jxandery/followers\",\"following_url\":\"https://api.github.com/users/jxandery/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jxandery/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jxandery/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jxandery/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jxandery/orgs\",\"repos_url\":\"https://api.github.com/users/jxandery/repos\",\"events_url\":\"https://api.github.com/users/jxandery/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jxandery/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"\",\"company\":\"\",\"blog\":\"\",\"location\":\"\",\"email\":\"\",\"hireable\":false,\"bio\":null,\"public_repos\":71,\"public_gists\":5,\"followers\":7,\"following\":17,\"created_at\":\"2012-01-22T20:32:04Z\",\"updated_at\":\"2015-07-23T01:10:24Z\"}"},"http_version":null},"recorded_at":"Sun, 26 Jul 2015 23:05:23 GMT"}],"recorded_with":"VCR 2.9.3"}