{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/orgs?access_token=2f8f3e03708e2dde409cda4f19da45c9a16508d2","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4972"], "X-Ratelimit-Reset":["1437943077"], "Etag":["W/\"4f8ef8fee58340cab4a271a0beb8f4b9\""], "X-Oauth-Scopes":["notifications, read:org, repo, user"], "X-Accepted-Oauth-Scopes":["admin:org, read:org, repo, user, write:org"], "X-Github-Media-Type":["github.v3"]},"body":{"encoding":"UTF-8","string":"[{\"login\":\"turingschool\",\"id\":7934292,\"url\":\"https://api.github.com/orgs/turingschool\",\"repos_url\":\"https://api.github.com/orgs/turingschool/repos\",\"events_url\":\"https://api.github.com/orgs/turingschool/events\",\"members_url\":\"https://api.github.com/orgs/turingschool/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/turingschool/public_members{/member}\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/7934292?v=3\",\"description\":\"\"}]"},"http_version":null},"recorded_at":"Sun, 26 Jul 2015 20:34:35 GMT"}],"recorded_with":"VCR 2.9.3"}